body {
    
    background-color: rgb(9, 0, 53) !important; 
}


.img-circle
{
    
    height: 20em;
    width: 16em;
    border: solid 2px rgb(0, 0, 0);
}
.HeroPhoto
{
    float: left;
    width: 50%;
}

.container
{
    text-align: center;
    background-color: white(13, 56, 112);
    color: black;
}

.fa-3x
{
    padding-right: 1em;
    padding-bottom: 20px;    
}
.CV
{
    float: left;
}

#About,#Education,#Projects,#WorkExp,#hobbies,#skills,#Future
{

    text-align: justify;
    
} 
#Home
{
    margin-top:7em;
    align-self: auto;    
}
#Projects
{
    float:centre; 
}
.Details
{
    float: right;
    width: 50%;
    color: rgb(0, 0, 0);
    text-align: left;
    
}

@media (max-width: 600px) {
    .Details {
        width: 100%;
        padding-top: 20px;
    }
    .search-container
    {
        float: none;
    }
    
}

.search-container
{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 5px;
    
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.item img
{
    height: 220px;
    max-height: 220px;
    width: 100%;
    
}

.carousel 
{
    margin:auto;
    width: 50%;
    
}
.carousel-caption h3
{

    color: Blue;
}
.carousel-caption p
{
    color: red;
}





.thumbnail
{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    
}

.thumbnail img
{
    width: 100% ;
    height: 100%;
    max-height: 188px;
    
    
    margin-bottom: 10px;
}

.circular-icon
{
    width:100%;
    height:100%;
    max-height:300px;
    max-width:300px;
}

.form-control
{
    margin-bottom:20px;
}


