body
{
    padding-top: 70px;
}

.img-circle
{
    height: 20em;
    width: 16em;
    border: solid 2px rgb(0, 0, 0);
}
.HeroPhoto
{
    float: left;
    width: 50%;
}

.container
{
    text-align: center;
}

.fa-3x
{
    padding-right: 1em;
    padding-bottom: 20px;    
}
.CV
{
    float: left;
}

#About,#Education,#Projects,#WorkExp
{
    text-align: justify;
    padding: 10em;
    height: auto;
} 
#Home
{
    align-self: auto;;
}
.Details
{
    float: right;
    width: 50%;
    color: rgb(0, 0, 0);
    text-align: left;
    
}

@media (max-width: 600px) {
    .Details {
        width: 100%;
        padding-top: 20px;
    }
    .search-container
    {
        float: none;
    }
}

.search-container
{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    
    font-size: 17px;
    border: none;
    cursor: pointer;
}

*,
{
    box-sizing: border-box;
}

